.App {
  width: 100%;
  height: 100vh;
  background-image: radial-gradient(#d5f3ff, #51b4e8);
  display: grid;
  grid-template-columns: 1fr var(--card-width) 1fr;
  grid-template-areas:
  "navbar navbar navbar"
  ". card ."
  ". button .";
 
 
}

.btn {
  grid-area: button;
}

.card {
  height: 200px;
  width: var(--card-width);
  background-image: linear-gradient(#e5f2ff, #d5f3ff 97.4%);
  filter: drop-shadow(0px 4.85px 4.85px rgba(0,0,0,.25) );
  grid-area: card;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 10px;
}

.card__cityInfo {
  display: flex;
  justify-content: space-between;
}

.navbar {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  grid-area: navbar;
}

.search {
  width: var(--card-width);
  text-align: center;
}
